@charset "utf-8";
/* CSS Document */

.navbar-nav .nav-link.active, .navbar-brand, .navbar-brand:hover{
	color: #2BBBAD;
}

.navbar-brand{
	position: absolute;
    top: 9px;
    left: 7%;
}

.front{
	z-index: 10;
}

.back{
	z-index: 1;
}
.nav-height{
	height: 61px;
}

.navbar{
	padding: 0px;
}

.navbar-nav .nav-link{
	color: whitesmoke;
}

.navbar-nav .nav-link:hover{
	color: #1de9b6;
}

.nav-width{
	width: 100%;
	margin: 0px;
}

.nav-bg{
	background-color: #2E2E2E;
}

.navbar-toggler {
    border: 1px solid #2BBBAD;
	margin: 10px 0px;
    padding: 3px 7px 0px 7px;
	position: absolute;
    top: 0px;
    right: 7%;
}

.burger{
  	height: 3px;
  	background-color: #2BBBAD;
  	margin: 6px 0;
}

.navbar-toggler-icon{
	display: block;
}

.bg-right{
	background-color: #2BBBAD;
	display: inline-block;
	vertical-align: middle;
}

.body-no-padding{
	padding-right: 0px;
	padding-left: 0px;
}

.footer{
	background-color: #2E2E2E;
	color: whitesmoke;
	padding-top: 15px;
}

.footer-center{
	justify-content: center!important;
}

/*Smartphone*/
@media screen and (min-width:0px) and (max-width:767px){
	
	.inner{
		margin: 75px;
	}
	
	.crop{
		display: block;
		margin: -35% 0;
  		width: 100%;
	}
	
	.body-half{
		width: 100%;
		overflow: hidden;
		margin: 0px;
	}
	
}
/*Smartphone*/

/*Tablet*/
@media screen and (min-width:768px) and (max-width:991px){
	
	.inner{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.crop{
		width: 100%;
		height: 100%;
	}
	
	.body-half{
		width: 100%;
	
	}
	
}
/*Tablet*/

/*Computer*/
@media screen and (min-width:992px){
	
	.inner{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.crop{
		display: block;
		margin: -25% 0;
  		width: 100%;
	}
	
	.body-half{
		width: 100%;
		overflow: hidden;
		margin: 0px;
	}
	
}
/*Computer*/